.DS_Store

build

xcschememanagement.plist
Xcuserdata/
WorkspaceSettings.xcsettings
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
contents.xcworkspacedata

**/xcuserdata
*.pbxuser
*.mode1v3
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcworkspace

# CocoaPods
Pods/
Podfile.lock
vendor
.bundle/
